<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs', {title:"404 | URL NOT FOUND"}) %>
  <body>
    <div class="container">
      <h1 class="status-code">404</h1>
      <h1>Address <code><%= url %></code> was not found</h1>
      <form action="/reserved_redirect">
        <input
          type="text"
          name="new_url"
          placeholder="Try Another Address"
          onkeyup="submitcheck(this)"
          autofocus
        />
        <button type="submit" disabled id="submit">Retry</button>
      </form>
    </div>
    <script>
      function submitcheck(e) {
        if (e.value.length < 1) {
          document.querySelector("#submit").disabled = true;
        } else {
          document.querySelector("#submit").disabled = false;
        }
      }
    </script>
  </body>
</html>
